<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>Adminrechte vergeben:</h1>

<ul>
    <li th:each="user: ${users}">

        <strong><span th:text="${user.username}"></span></strong>

        <form th:if="${user.isAdmin() != true}" method="post" th:action="@{/admin}">
            <input type="hidden" name="userId" th:value="${user.id}">
            <button type="submit">admin</button>
        </form>

        <h3 th:if="${user.admin}">Du bist Admin!</h3>
    </li>
</ul>

</body>
</html>