<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BlogAZ</title>
</head>
<body>
<h1>BlogAZ</h1>

<h1 th:text="${'Hallo, Unbekannter'}" th:if="${sessionUser == null}"></h1>

<h1 th:text="${'Hallo ' + sessionUser.username}" th:if="${sessionUser != null}"></h1>

<a th:href="@{/login}" th:if="${sessionUser == null}">Login</a>

<a href="/register">Hier Registrieren</a>

<form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>

<hr>

<div th:if="${sessionUser != null && sessionUser.admin == true}">

    <a href="/admin">Adminrechte</a>
    <hr>
</div>

<div th:if="${sessionUser != null && sessionUser.admin == true}">

    <a href="/beitrag">Beitrag schreiben</a>
    <hr>
</div>

<div th:each="beitrag : ${beitragList}">
    <b>
        <pre th:text="${beitrag.ueberschrift}"></pre>
    </b>

    <pre th:text="${beitrag.text}"></pre>

    <ol>
        <li th:each="kommentar : ${beitrag.getKommentare()}">
            <pre th:text="${'@' + kommentar.user.username + ': ' + kommentar.text}"></pre>

            <form th:if="${(sessionUser != null and sessionUser.id == kommentar.user.id) ||
                (sessionUser != null && sessionUser.admin == true)}"

                th:action="@{/userId/{kommentarId}/kommentarLoeschen(userId=${kommentar.user.id},
                kommentarId=${kommentar.id})}" method="post">

                <button type="submit">Löschen</button>
            </form>
        </li>

        <a th:href="@{/{userId}/beitragId/{beitragId}/kommentar(userId=${sessionUser.id}, beitragId=${beitrag.id})}"

           th:if="${sessionUser != null}">Kommentar schreiben</a>
    </ol>

<hr>

</div>
</body>
</html>